/*参数设置*/
.parameterList{
    margin: 1px 0 0 40px;
    line-height: 28px;
    font-size: 0;
}
.parameterList p{
    background: #cdcbcb;
}
.parameterList>div{
    height: 28px;
    background: #cdcbcb;
}
.sort{width: 118px;}
.classifyName{width: 676px;margin: 0 1px;text-indent: 10px;}
.operation{width: 130px;text-align: center}
.sort input{
    margin: 8px 32px 10px 10px;
    cursor:pointer
}
.sort label{line-height: 28px;vertical-align: top}
.parameterCon{
    margin-left: 40px;
    line-height: 84px;
    border-bottom:1px solid #e6e6e6;
    width: 934px;
}
.parameterCon button{
    width: 38px;line-height: 24px;
    background: #f7f7f7;
    border:1px solid #e6e6e6;
    margin-top: 30px;
}
.operation .hintLine{
    width: 1px ;height: 12px;
    background: #808080;
    margin: 36px 6px 0;
}
.path{border:none;box-shadow: none}








