.module > .psdpopup {
  width: 285px;
  height: 285px;
  padding: 0;
}
.module > .psdpopup .popup-title {
  height: 220px;
}
.module > .psdpopup .popup-title span {
  width: 13px;
  height: 13px;
  background: url("../images/close.png") no-repeat left center;
  right: 10px;
  top: 10px;
}
