table .number {
  width: 120px;
  text-align: center!important;
  padding-left: 0!important;
}
table .prize {
  width: 200px;
}
table .phone {
  width: 120px;
}
table .address {
  width: 220px;
}
table .status {
  width: 100px;
}
table .name {
  width: 90px;
}
