/*拼团*/
/*路径*/
.path{
    line-height: 40px;
    border: 1px solid #c8c8c8;
}
.path h2{
    width: 80px;
    border-right: 1px solid #c8c8c8;
    text-align: center;
}
.path a{padding: 0 16px 0 24px;}
.path a hr{
    width: 56px;
    height: 2px;
    background: #fc0404;
    bottom: -6px;left:20px;
}
/*路径 end*/
/*content*/
.content{margin: 20px 42px 0 32px;}
.phone-model{
    background: url("../images/iphone.jpg") no-repeat;
    width: 352px;height: 650px;
    background-size: 352px 650px;
    -webkit-background-size: 352px 650px;
    -moz-background-size: 352px 650px;
    -o-background-size: 352px 650px;
    text-align: center;
}
.phone-model button{
    width: 200px;line-height: 40px;
    background: #fc0404;
    border-radius:4px;
}
.phone-model button:first-child{margin: 462px 0 8px;}
.phone-model p{
    background: url("../images/bracket.png") no-repeat right;
    padding: 24px 0 12px;
}
/*tab选项卡*/

.tab li{
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.tab li:nth-child(3){
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
/*.tab:before{*/
    /*content: "";*/
    /*width: 512px;*/
    /*height: 1px;*/
    /*background: #f1f1f1;*/
    /*position: absolute;*/
    /*bottom:2px;left: 0;*/
    /*z-index: -1;*/
/*}*/
/*.tab:after{*/
    /*content: "";*/
    /*width: 512px;*/
    /*height: 1px;*/
    /*background: #d6d6d6;*/
    /*position: absolute;*/
    /*bottom:1px;left: 0;*/
    /*z-index: -1;*/
/*}*/
#sub-award li{
    width: 48px;line-height: 20px;
    text-align: center;
    cursor:pointer;
    border-radius:3px;
}
#sub-award li:first-child{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
#contentop{margin-top: 20px;}
/*奖励设置*/
.award{
    border: 1px solid #c8c8c8;
}
.award:before{
    content: "";
    position: absolute;
    top:90px ;right: 0;
    height: 508px;width: 7px;
    background: #e5e5e5;
}
.award:after{
    content: "";
    position: absolute;
    top: 140px;right: 0;
    width: 7px;height: 248px;
    background: #cccccc;
}
.award .title{
    padding: 0 10px;
    line-height: 44px;
    border-bottom: 1px solid #c8c8c8;
}
.award  .sub-award{
    padding-left: 8px;
    border-bottom: 1px solid #c8c8c8;
}
.award  .sub-award li{
    margin: 6px 4px;
}
.radio-no{
    background: url("../images/radio-no.png") no-repeat;
    background-size: 15px 15px;
    text-indent: 20px;
    height: 16px;
    margin-right: 14px;
}

.radio{
    background: url("../images/radio.png") no-repeat;
    background-size: 15px 15px;
    text-indent: 20px;
    margin-right: 14px;
}
input[type="radio"]{
    width: 80px;
    height: 32px;
    position: absolute;
    opacity: 0;
    text-indent: 20px;
   left: 0;top: -8px;
}
.title .radio-no{
    background: url("../images/radio-no.png") no-repeat 2px 16px;
    background-size: 15px 15px;
    text-indent: 16px;
    height: 32px;
}
.title .radio{
    background: url("../images/radio.png") no-repeat 2px 16px;
    background-size: 15px 15px;
    text-indent: 16px;
    height: 32px;
}
.award h3{
    width: 102px;
   margin:8px 0;
    position: relative;
    text-indent: 12px;
    padding-left: 18px;
}
.award .asterisk:before{
    content: "*";
    width: 12px;line-height: 12px;
    position: absolute;
    left:0;top:2px;
    color: #fc0404;
}
input[type="text"]{
    width: 158px;line-height: 28px;
    border:1px solid #c8c8c8;
    text-indent: 10px;
}
.awards-first li{
    margin-bottom: 14px;
    margin-top: -1px;
}
.awards-first  li p{
    line-height: 30px;
    margin-left: 10px;
}
.awards-first li .input-width{width: 340px}
.asterisk-select{
    margin: 8px 0;
}
.asterisk-hint{
    margin:8px 0;
}
.award .awards-first li:nth-child(8){
    border-bottom: 1px solid #666;
    margin-left: 30px;
    background: url("../images/triangle.png") no-repeat right;
    width: 432px;
    background-size: 8px 8px;
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    -o-background-size: 8px 8px;
}
.award .awards-first li:nth-child(8) h3{
    text-indent: 0;
    padding-left: 0;
}
.award .awards-first li:nth-child(8) input{
    border: none;
}
.award input[type="date"]{
    width: 158px;
    line-height: 28px;
    border: 1px solid #c8c8c8;
    text-indent: 10px;
    margin-top: 8px;
}
.awards-first  li p span{
    border-bottom: 1px solid #666;
}
.submit{
     width: 890px;
    border: 1px solid #cccccc;
    margin: 20px auto 0;
    text-align: center;
}
.submit input{
    width: 88px;line-height: 32px;
    border: none;
    margin: 8px 0;
    border-radius: 3px;
}
.submit input[type="submit"]{
    background: #ff0000;
}
aside{margin-top: 70px}

#J_date_1:after{
    position: absolute;
    content: "至";

}







































