.systempop {
  width: 400px;
  height: 322px;
}
.systempop .popup-main {
  margin: 12px 20px 22px 18px;
}
.systempop .popup-main .time {
  margin-bottom: 26px;
}
.systempop .btmBtn {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 22px;
}
